- @orders.each do |order|
  %tr
    %td
      %span.general-order-number= link_to track_number(order), order_path(order), class: 'in-gold-500'
    %td
      %span.in-grey-900.font-16.font-weight-light= order.created_at.strftime("%Y-%m-%d")
    %td
      %span.font-16.in-grey-900.font-weight-light= order_state_title(order.state)
    %td
      %strong.font-16= shifting_price_to_currency(order.total_price)